.game{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.game__wrapper {
    background-color: rgb(114, 114, 114);

    box-shadow: 0px 0px 20px 5px rgb(188 188 188);
}

.game__title{
    font-size: calc(var(--size) * 3);
    text-align: center;

    margin-bottom: calc(var(--size) * 5);
}

.game__content{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: calc(var(--size) * 2);
}

.player_score{
    font-size: calc(var(--size) * 1.5);
    padding-right: calc(var(--size) * 2);
}

.game__score{
    font-size: calc(var(--size) * 1.2);
}